/* .content{
    display: grid;
    grid-template-rows: auto;
} */
.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr ;
    padding: 20px;
    gap: 20px;
}

.img_container {
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    border-radius: 50px;

}

.img_container:hover{
    background-color: var(--highlight-color);
}

.caption_container {
    background-color: white;
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.back_button {
    background-color: transparent;
    border-color: transparent;
    align-self: self-start;
    display: flex;
    cursor: pointer;
    /* justify-content: center;
    align-items: center; */
    gap: 8px;
    font-family: "barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5px;
}
.caption_content{
    padding: 20px 5px;
    display: grid;
    grid-template-rows: auto;
    gap: 30px;

}

.caption_content div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    font-size: 18px;
    font-weight: 600;
}
.title{
    padding: 15px;
}

.description{
    padding: 15px;
    height: 100px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content:flex-end;
    align-self: flex-end;
    margin-top: auto;
}

.buttons .btn,
.buttons .btn2 {
    padding: 15px 35px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--background-color);
    font-size: 15px;
    font-weight: 600;
}

.buttons .btn:hover {
    background-color: var(--gray-200);
    color: inherit;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));

}

.buttons .btn2 {
    background-color: var(--primary-color);
    color: var(--background-color);

}

.buttons .btn2:hover {
    background-color: var(--gray-200);
    color: var(--primary-color);
    /* filter: invert(100%); */
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}