.container{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    border-radius: 2px;
    gap: 10px;
}
.button{
    padding: 5px 10px;
    flex-shrink: 0;
    /* width: fit-content; */
    height: fit-content;
    background-color: var(--background-color);
    /* border: 1px solid var(--border-color); */
    border-radius: 27px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s,border 0.3s;
    font-size: 12px;

}
.noBorder{
    border: 1px solid transparent;
}
.outerBorder{
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px;
    height: fit-content;
}
.button p{
    font-size: 13px;
    font-weight: 500;
    color: var(--secondary-color);
    transition: color 0.3s;
}
.button:hover{
    /* background-color: var(--primary-color); */
    border: 1px solid var(--border-color);
    transition: 0.3s border;
}

.selected{
    /* background-color: var(--primary-color); */
    border: 1px solid var(--border-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--highlight-color);

    /* p{
        color: var(--text-counter-color);
        transition: color 0.3s ease;
    } */
}
