.parent_container{
    display: flex;
    height: fit-content;
    width: 100%;
    z-index: 10;

}


.component_container{
    display: flex;
    width: 100%;
}
.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    padding: 20px;
}
    
.child_container{
    margin: 2px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    top: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    width: 60vw;
    height: 90vh;
}



.closeButtonWrapper {
    /* position: relative; */
    margin-right: -10px;
    margin-top: -15px;
    /* position: absolute;
    top: 30px; 
    right: 100px; 
    z-index: 11;  */
}
.closeButton {
    cursor: pointer;
    width: 10px;
    color: var(--border-color);
}
