.parent_container{
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 10;

    z-index: 100;

}


.component_container{
    display: flex;
    width: 100%;

}
.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .my{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.children_container{
    width: 100%;
    height: 100%;
    background: var(--background-color);
    border-radius: 30px;
}
