.jobpage{
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr   ; 
    width: 100%;
    gap: 10px; 
    transition: grid-template-columns 0.3s ease;
}

.jobfilter{
    /* padding: 10px; */
    width: 100%;
}

.jobcontainer{
    /* padding: 10px 0px; */
    width: 100%;
}