.jobpage{
    display: grid;
    grid-template-columns: 320px 2fr   ;
    grid-template-rows: 100%;
    width: 100%;
    gap: 10px; 
    transition: grid-template-columns 0.3s ease;
    height: 100%;
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.jobpage::-webkit-scrollbar{
    display: none;
}
.jobfilter{
    /* padding: 10px; */
    width: 100%;
}

.jobcontainer{
    /* padding: 10px 0px; */
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.jobcontainer::-webkit-scrollbar{
    display: none;
}