.container{ 
    display: grid;
        /* flex-direction: column; */
        grid-template-rows: auto;
        padding: 10px, 0px;
        gap: 10px;
        width: auto;
        height: fit-content;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

        .art_card {
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: relative;
        }
    
        /* .art_card:hover{
        transform: scale(1.04);
        transition: ease-in-out 0.3s;
    } */
    
        .image_container {
            background-color: var(--highlight-color);
            height: 100%;
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
        }
    
        .art_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .tick {
            position: absolute;
            top: 10px;
            right: 10px;
        }

.profilecontainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #E0E4E8;
    padding: 20px;

}

.porifile_pic{
    width: 113px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.username{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;

}

.address{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

}

.profile_info{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex; 
    gap: 25px;
}

.Rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Ratingcontainer{
    width: fit-content;

}


.top{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #656565;
    margin-bottom: 5px;
}

.bottom{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.profile_Buttons{
    display: flex;
    gap: 10px;
}

.pbuttons{
    background-color: transparent;
    padding: 8px 20px 8px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E4E8;
    border-radius: 27px;
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #000000;
}

.filter_buttons{
    display: flex;
    justify-content: start;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #E0E4E8;
    width: fit-content;
    padding: 5px;
    gap: 5px;

}

.fbuttons{
    width: 120px;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: none;
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #000000;

}

/* .content_container{
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 20px;

} */

.post_container{
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #E0E4E8;
    padding: 20px;
    display: flex;
    gap: 10px;
    overflow:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        /* 4 columns for 8 images (2 rows) */
        gap: 10px;
        /* Space between items */
        overflow: auto;
    /* flex-wrap: wrap; */


}
.job_container {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #E0E4E8;
    padding: 20px;
    display: flex;
    gap: 10px;
    overflow: scroll;

}

.post_container::-webkit-scrollbar {
    display: none;
}

.pics{
    width: 338px;
    border-radius: 20px;
    aspect-ratio: 2/1;
    object-fit: cover;
    
}

.icon_buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.job_container::-webkit-scrollbar {
    display: none;
}

.selected{
    background-color: var(--border-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-border-color);
    border-radius: 27px;
}