.art_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    width: auto;
    height: 100%;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
}
/* @media (max-width: 768px) {
    .art_container{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
} */
.loading_card{
    width: 100%;
    aspect-ratio: 21/15;
    border-radius: 20px;
    background: linear-gradient(110deg, rgb(250, 250, 250) 8%, rgb(255, 255, 255) 18%, rgb(250, 250, 250) 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border: 1px solid var(--border-color);
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
