.art_page{
    display: flex;
    flex-direction: column;
    width: auto;
    /* padding: 10px; */
    gap: 10px;
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.art_container::-webkit-scrollbar{
    display: none;
}
.keywords{
    width: fit-content;
    display: flex;
}
.mode{
    display: flex;
    gap: 5px;
    align-items: center;
}
@media (max-width: 500px){
    .keywords{
        width: 100%;
    }
}
