.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}
.message_container{
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    overflow: auto;
}
.info_container{
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}
.left_container{
    display: flex;
    gap: 10px;
}
.profile_image{
    width: 36px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
.stat_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: 14px ;
    font-weight: 500;
    color: var(--text-heavy-color);
}
.status_online{
    font-size: 11px;
    color: #31b831;
}
.status_offline{
    font-size: 11px;
    color: var(--text-medium-color);
}
.right_container{
    display: flex;
    gap: 10px;
}
