.parent_container{
    display: flex;
    height: fit-content;

}
.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.container{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;

}
.component_container{
    display: flex;
}
.child_container{
   
    
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    
    max-width: 300px;
    width: 100%;
}

.motion_container{
    
    position: absolute;
    top: 100%;
    margin: 2px;
    width: auto;

}
