.sidebar {
    position: sticky;
    /* transform: translateY(-50%);  */
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    gap: 5px;
    height: fit-content;
    width: fit-content;
    border: 1px solid var(--border-color);
    border-radius: 35px;
    background-color: var(--background-color);
    /* z-index: 1000;  */
}

.button {
    padding: 8px 15px;
    border-radius: 8px; /* Consolidated radius */
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: fit-content;
    width: auto;
}

.button:hover, .selected {
    background-color: var(--primary-color);
}

.button:hover img, .selected img {
    filter: invert(100%);
}

.kerrlogo {
    padding-bottom: 16px; /* Consolidated padding */
    gap: 8px;
}
