.sidebar {
    position: sticky;
    /* transform: translateY(-50%);  */
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 15px 5px;
    gap: 5px;
    height: fit-content;
    width: fit-content;
    border: 1px solid var(--border-color);
    border-radius: 35px;
    background-color: var(--background-color);
    /* z-index: 1000;  */
}
.label{
    display: none;
}
.sidebar:hover{

    .label{
        display: block;
        transition: ease-in-out 0.2s;
    }
}
.button {
    padding: 8px 15px;
    border-radius: 8px; /* Consolidated radius */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: var(--text-counter-color);
    border: none;
    cursor: pointer;
    height: fit-content;
    width: 100%;
}
.buttons{
    display: block;
    width: 100%;
    /* justify-content: start; */
    align-items: start;
}
.label{
    /* font-size: 16px; */
    font-weight: 500;
    color: var(--text-medium-color);
}

.button:hover, .selected{
    background-color: var(--primary-color);
}

.button:hover img, .selected img {
    filter: invert(100%);
}

.button:hover .label, .selected .label{
    color: var(--text-counter-color);
}

.kerrlogo {
    padding-bottom: 16px; /* Consolidated padding */
    gap: 8px;
}
.hr{
    width: auto;
}
