.sidebar {
    position: sticky;
    /* transform: translateY(-50%);  */
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 15px 5px;
    gap: 5px;
    border: 1px solid var(--border-color);
    border-radius: 35px;
    background-color: var(--background-color);
    /* z-index: 1000;  */
    transition: ease-in-out 0.2s;
    width: 68px;
    overflow: hidden;
    z-index: 10;
}
.label{
    position: absolute;
    padding-right: 20px;
    opacity: 0;
    left: 55px;
    transition: ease-in-out 0.2s;
    font-weight: 500;
    color: var(--text-medium-color);
}
.sidebar:hover{
    width: 200px;
    .label{
        display: block;
        transition: ease-in-out 0.2s;
        opacity: 1;
    }
    transition: ease-in-out 0.2s;

}
.button_wrapper{
    width: 100%;
    outline: none;
    border-radius: 12px;
    border: 1px transparent solid;

}
.button {
   /* padding: 8px 15px;
    border-radius: 12px; !* Consolidated radius *!
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: var(--text-counter-color);
    cursor: pointer;
    height: fit-content;
    width: 100%;
    border: 1px transparent solid;
    overflow: hidden;
    position: relative;*/
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    background-color: transparent;

}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: start;
}


svg{
    color: var(--primary-color);
}
.button_wrapper:hover{
    border: 1px solid var(--border-color);
}
.selected{
    background-color: var(--highlight-color);
    border: 1px solid var(--border-color);
}

.button:hover svg, .selected svg {
    /* filter: invert(100%); */
    /* color: var(--background-color);
    fill: var(--secondary-color); */
    
    
}

.button:hover .label, .selected .label{
    color: var(--text-light-color);
}

.kerrlogo {
    padding-bottom: 16px; /* Consolidated padding */
    gap: 8px;
    justify-self: left;
}
.line{
    height: 2px;
    width:50%;
    background-color: var(--border-color);
    opacity: 1;
    padding: 0 2px;
    margin: 0 2px;
}
.hr{
    width: auto;
}
