.container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 10px;
    border: 1px solid transparent;
    border-radius: 16px;

}
.container:hover{
    border: 1px solid var(--border-color);
    transition: 0.2s;
}

.image_container{
    position: relative;
}
.image{
    width: 42px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.indicator{
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 4px;
    right: 4px;
    border-radius: 50%;
    border: 1px white solid;

}
.indicator_on{
    background: #25B865;
}
.indicator_off{
    background: #878787;
}
.info_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.name_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 5px;
}
.name{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-heavy-color);
}
.last_sent_message{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-light-color);
}
.last_sent_time{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-light-color);
}
.active_link .container{
    border: 1px solid var(--border-color);

}
