.container{
    /* width: 350px; */
    display: flex;
    flex-direction: column;
    height: 100%;
   justify-content: space-between;
    
    
}

.desc_container{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profile_container{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    

}

.user_address{
    display: flex;
    flex-direction: column;
}

.profile_info{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E4E8;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    
    
}

.back_button{
    background-color: transparent;
    border-color: transparent;
    align-self: self-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5px;
}

.porifile_pic{
    width: 38px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

.username{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;


}

.address{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #656565;

}


.post_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E4E8;
    border-radius: 20px;
    padding: 20px;
    
    

}

.top{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #656565;
    margin-bottom: 5px;
}

.bottom{
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.description{
    border-style: solid;
    border-width: 1px;
    border-color: #E0E4E8;
    border-radius: 20px;
    padding: 20px;

}

.title{
    font-family:"barlow", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;

}

.paragraph{
    font-family:"barlow", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    line-height: 150%;

}

.tags{
    border-style: solid;
    border-width: 1px;
    border-color: #E0E4E8;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    gap: 5px;
    

}

.tag_buttons{
    background-color: transparent;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E4E8;
    border-radius: 12px;
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}

.button_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: end;
    

}

.social_buttons{
    background-color: transparent;
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E4E8;
    border-radius: 12px;
    font-family:"barlow", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;

}



