.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    text-decoration: none;
}

.container:hover {
    border-color: var(--dark-border-color);
    /* transform: scale(1.01); */
}

.profile{
    /* width: fit-content; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    height: 100%;
    
    /* gap: 10px; */
}

.user_detail {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.name {
    color: var(--text-medium-color);
    font-weight: 500;

    font-size: 14px;
}

.user_detail .username {
    color: var(--text-light-color);
    font-size: 12px;
    /* text-decoration: none; */
}
.offer_info {
    display: grid;
    grid-template-rows: auto auto 1fr auto ;
    width: auto;
    gap: 10px;
}


.job_description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 0 10px 0;
}

.job_link .job_description .top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 10px 0 0;
}

.job_info {
    color: var(--text-medium-color);
    display: flex;
    align-items: center;
    gap: 5px;

    p,
    link {
        font-size: 15px;
        font-weight: 500;
    }
}

.job_title {
    font-size: 14px;
    color: var(--text-heavy-color);
    font-weight: 500;
}

.job_description{
    font-size: 14px;
    color: var(--text-medium-color);
    font-weight: 400;
}


.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more{
    color: var(--text-light-color);
    font-size: 14px;
    font-weight: 600;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-self: flex-end;
}

.buttons .btn{
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--background-color);
    color: var(--text-light-color);
    font-size: 14px;
    font-weight: 600;
}

.buttons .btn:hover {
    background-color: var(--gray-200);
    color: inherit;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));

}


.buttons .btn2:hover {
    background-color: var(--gray-200);
    color: var(--primary-color);
    /* filter: invert(100%); */
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}