
.dropdown{
    position: relative;
}
.dropdown_toggle{
    border: 1px solid var(--border-color);
    font-size: 14px;
    padding: 16px 20px;
    width: 100%;
    border-radius: 18px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;

}
.dropdown_toggle_rotate{
    transition: 0.2s;
    transform: rotateZ(180deg);
}
.dropdown_toggle_rotate_smooth{
    transition: 0.2s;

}
.dropdown_menu{
    list-style-type: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 18px;
    padding: 10px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    max-height: 200px;
    overflow: auto;
    top: 105%;
}
.button{
    background-color: transparent;
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer ;
}
.button:hover {
    border: 1px solid var(--border-color);

}
.button_active{
    background-color: transparent;
    border: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer ;
}
