.button{
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-color);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

}


.button:hover{
    outline: 1px solid var(--border-color);

    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out ;
}


.selected{
    outline: 1px solid var(--border-color);

}

