.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* grid-template-rows: repeat(auto-fill,1fr); */
    gap: 20px;
    align-items: center;
    padding: 20px ;
}
.searchContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
    
}