.notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: inherit;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 4px 10px;
    gap: 20px;
}
.profile_image{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.button_container{
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
    
}

.button{
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 5px 0;
   
}


.icon{
    /*display: none;*/
    display: flex;
}
@media (min-width: 600px) {
    .icon{
        /*display: none;*/
        background: red;
        display: none;
    }
}
