.art_card{
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* .art_card:hover{
    transform: scale(1.04);
    transition: ease-in-out 0.3s;
} */


.art_image{
    width:100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px 20px 0px 0px;
}

.art_caption {
    display: flex;
    height: fit-content;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 10px;
    gap: 5px;
    margin-top: -20px;
    background-color: var(--background-color);
  }

.art_description{
    display: grid;
    gap: 2px;
    height: fit-content;
    align-items: start;
   
}

.art_description p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: var(--text-dark-gray-color);
    text-wrap: wrap;
    display: -webkit-box;
    -webkit-line-clamp:1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

p.art_title{
    color: var(--text-primary-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}

.post_info{
    display: flex;
    gap: 4px;
}
