@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  /*Primitive Colors*/

    --black-color: black;
    --white-color: white;
    --light-gray-color: #E0E4E8;
    --dark-gray-color: #A6A6A6;
    --dark-cyan: #172430;

    --blue-black: #191A1F   ;
    --dark-navy-color: #3a4248;


    --gray-1000: #000000;
    --gray-900: #3F4551;
    --gray-800: #333333;
    --gray-600: #666666;
    --gray-400: #999999;
    --gray-200: #cccccc;
    --gray-0: #ffffff;

  /*Token Colors*/
    --primary-color:var(--black-color);
    --secondary-color:var(--dark-cyan);
    --background-color:var(--white-color);
    --border-color:var(--light-gray-color);
    --dark-border-color:var(--dark-gray-color);

    --text-heavy-color:var(--gray-1000);
    --text-medium-color:var(--gray-800);
    --text-light-color:var(--gray-600);
    --text-counter-color:var(--gray-0);
}
*{
    font-family: "Barlow", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--background-color);
}
