*root{
  /*Primitive Colors*/
    --black-color: black;
    --white-color: white;
    --light-gray-color: #E0E4E8;
    --dark-cyan: #172430;

    --gray-1000: #000000;
    --gray-800: #333333;
    --gray-200: #cccccc;
    --gray-0: #ffffff;

  /*Token Colors*/
    --primary-color:var(--black-color);
    --secondary-color:var(--dark-cyan);
    --background-color:var(--white-color);
    --border-color:var(--light-gray-color);

    --text-primary-color:var(--gray-1000);
    --text-secondary-color:var(--gray-800);
    --text-counter-color:var(--gray-0);

}
