.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 10fr minmax(auto, 1fr) auto auto;
    gap: 20px;
    padding: 20px;
    /* font-size: 13px;
    font-weight: 500; */
}

.back_button {
    background-color: transparent;
    border-color: transparent;
    align-self: self-start;
    display: flex;
    cursor: pointer;
    gap: 5px;
    

}

.job_info{

    display: grid;
    grid-template-rows: auto 6fr auto;
    gap: 10px;
    
    
}

input, textarea{
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 14px;
    color: var(--text-light-color);
    font-weight: 500;
}

input:focus, textarea:focus{
    outline: none;
    border: 1px solid var(--dark-border-color);
    color: var(--primary-color);
}

.job_title{

}

.job_description{

}

.price_info{
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.price_info .negotiate{
    display: flex;
    align-items: center;
    height: fit-content;
    
    padding: 0 10px;
    gap: 5px;

    label{
        font-size: 14px;
        font-weight: 500;
        color: var(--text-light-color);
    }
    input{

        appearance: none;
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 5px;
        padding: 0px;
        cursor: pointer;
        border-color: var(--dark-border-color);
    }

    input::before{
        border-radius: 3px;
        content: '';
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        margin: 1px;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out, border-color 0.3s ease-in-out;
    }
    input:hover, input:checked{
        border-color: var(--primary-color);
    }
    input:checked::before{
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }
}

.type_buttons{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid var(--border-color);
    gap: 10px;
    border-radius: 45px;
    .bt{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 27px;
        color: var(--text-light-color);
        font-weight: 500;
        font-size: 14px;
        background-color: var(--background-color);
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, border 0.3s ease;
    }
    

    .selected{
        background-color: var(--highlight-color);
        border: 1px solid var(--border-color);
    }
}

.create_button{
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 35px;
    color: var(--text-light-color);
    font-weight: 600;
    font-size: 14px;
}

.create_button:hover{
    background-color: var(--highlight-color);
    border-color: var(--border-color);
    cursor: pointer;
}

.create_button:disabled{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}


.error{
    font-size: 12px;
}
